h1{
    text-align: center;
    font-family: 'Londrina Solid', cursive;
    color:red;}
div{padding: 5px;
    border: 5px inset rgb(87, 87, 87)
   }
    h3{text-align: center;
    padding: 5px;}
    body{text-align:center;}
    P{border: black;}
   a{text-decoration-line:none ;}
.div1{style="position: relative;"}